@{
    ViewBag.Title = "Index";
}

<h2>Migration Tool</h2>

@using(Html.BeginForm("Upload", "Excel", FormMethod.Post, new {enctype = "multipart/form-data"}))  
{  
  
    <table>  
        <tr>  
            <td>File:</td>  
            <td>  
                <input type="file" id="MigrationSheetFile" name="MigrationSheetFile" />  
            </td>  
        </tr>  
        <tr>  
            <td colspan="2">  
                <input type="submit" name="Submit" value="Submit" />  
            </td>  
        </tr>  
    </table>  
}  